*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    color: rgb(155, 155, 155);
    font-weight: bold;
}
body {
    font-family: 'Poppins', sans-serif;
}
h3, h4 {
    font-weight: 400;
    color: rgb(155, 155, 155);
}

.App{
    transition: all 0.5s ease
}
.library-active {
    margin-left: 20rem;
}

.browser-active {
    margin-right: 25rem;
}

.library-active.browser-active {
    margin-left: 20rem;
    margin-right: 25rem;
}

.empty-library {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;

    h2 {
        color: #999;
        margin-bottom: 1rem;
    }

    p {
        color: #999;
        font-size: 1rem;
    }
}

@import './song';
@import './player';
@import './library';
@import './nav';
@import './card';
@import './theme';
@import './songBrowser';

@media screen and (max-width: 768px){
    .library{
        width: 100%;
        height: 100vh;
    }
    .song-browser {
        width: 100%;
        height: 100vh;
    }
    .library-active{
        margin-left: 0;
    }
    .browser-active {
        margin-right: 0;
    }
    .library-active.browser-active {
        margin-left: 0;
        margin-right: 0;
    }
}